/* Container styles */
.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #d3d3d3;
    font-family: Arial, sans-serif;
}

/* Left Panel styles */
.left-panel {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-right: 2px solid #000;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.logo-image {
    width: 200px;
    height: 200px;
}

.subtitle {
    font-weight: normal;
}

/* Right Panel styles */
.right-panel {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.login-text {
    font-size: 18px;
    margin-bottom: 20px;
}

/* Input and button styles */
.input {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button {
    background-color: #f08030;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
